/*Common*/
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /*행간*/
  font-family: "Nanum Gothic", sans-serif;
  /* height: 3000px; */
}
img { display:block; } /*img 태그는 기본적으로 inline으로 되어있기 때문에 block(레이아웃)으로 바꿔준다.*/
a { text-decoration: none; }/*링크에 밑줄을 없애준다*/
.inner { /*inner는 header와 footer에 공통으로 사용되는 클래스*/
  width: 1100px; /*너비*/
  margin: 0 auto; /*좌우의 값만으로 브라우저가 자동으로 계산하게 auto(브라우저가 자동 계산)추가하여 중앙 정렬*/
  /*자동으로 계산하려면 요소의 길이를 브라우저가 알고 있어야 함*/
  position: relative; 
}
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333; border-radius: 4px;
  color: #333;
  font-size: 16px; font-weight: 600;
  text-align: center; cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover {background-color: #333; color: #fff;}
.btn--reverse {background-color: #333;color: #fff;border-color: #333;}
.btn--reverse:hover {background-color: transparent;color: #333;border-color: #333;}
.btn--brown {background-color: transparent;color: #592B18;border-color: #592B18;}
.btn--brown:hover {background-color: #592B18;color: #fff;border-color: #592B18;}
.btn--gold {background-color: transparent;color: #D9AA8A;border-color: #D9AA8A;}
.btn--gold:hover {background-color: #D9AA8A;color: #fff;border-color: #D9AA8A;}
.btn--white {background-color: transparent;color: #fff;border-color: #fff;}
.btn--white:hover {background-color: #fff;color: #333;border-color: #fff;}
/*BACK TO POSITION*/
.back-to-position {opacity: 0; transition: 1s;}
.back-to-position.to-right { transform: translateX(-150px);}
.back-to-position.to-left { transform: translateX(150px);}
.show .back-to-position {opacity: 1; transform: translateX(0);}
.show .back-to-position.delay-0 {transition-delay: 0s;}
.show .back-to-position.delay-1 {transition-delay: 0.3s;}
.show .back-to-position.delay-2 {transition-delay: 0.6s;}
.show .back-to-position.delay-3 {transition-delay: 0.9s;}


/*Header*/
header {
  width: 100%; /*auto로 하면 브라우저가 자동으로 뷰포트를 기준으로 요소가 배치된다*/
  position: fixed; 
  background-color: #f1f1f1; border-bottom: 1px solid #c8c8c8; 
  top: 0;
  z-index: 9; /* 쌓임 순서 */
}
header > .inner {height: 110px;} /*header 바로 아래의 inner를 가리킨다 */


header .logo { /*사진 크기는 본래의 사진 크기가 기본값으로 들어간다*/
  height: 75px; /*기본값이지만 명시*/
  position: absolute; /*absolute는 부모(position:relative => inner)를 기준으로 위치를 잡는다*/
  top: 0; bottom: 0; /*상단과 하단을 0으로 고정*/
  margin: auto; /*상단과 하단을 0으로 고정하고서 높이값을 주어야 수직으로 중앙 정렬이 된다*/
}


header .sub-menu {
  position:absolute;
  top: 10px; right: 0; /*상단과 하단을 0으로 고정*/
  display:flex;
}
header .sub-menu ul.menu {font-family: Arial, sans-serif; display:flex;}
header .sub-menu ul.menu li {position: relative;}
header .sub-menu ul.menu li:nth-child(1)::before {display:none;}
header .sub-menu ul.menu li::before {
  content: ""; /*가상요소는 content 속성을 반드시 사용해야 한다*/
  display: block; /*inline-block으로 바꿔준다*/
  width: 1px; height: 12px; 
  top: 0; bottom: 0; 
  margin: auto;
  background-color: #333; /*세로선의 색상*/
  position: absolute; 
}
header .sub-menu ul.menu li a {
  font-size:12px;
  padding: 11px 16px; /*상하(11px)좌우(16px) 내부 여백으로 공간 생성성*/
  display:block; /*a태그는 기본적으로 inline으로 되어있기 때문에 block(레이아웃)으로 바꿔준다.*/
  color: #656565; /*글자색*/
}
header .sub-menu ul.menu li a:hover {color: #333;}
header .sub-menu .search {height: 35px; position: relative;}
header .sub-menu .search input {
  width: 36px; height:34px;
  padding: 4px 10px; /*상하(4px)좌우(10px) 내부 여백으로 공간 생성성*/
  border: 1px solid #1c1;
  box-sizing: border-box; 
  border-radius: 5px;
  outline: none; /*input 태그에 포커스가 갔을 때 생기는 테두리 제거*/;
  background-color: #fff; color:#777;
  font-size: 12px; 
  transition: width 0.4s ease; /*width가 바뀔 때 애니메이션 효과*/
  /*ease는 애니메이션 효과를 부드럽게 만들어준다.*/
}
header .sub-menu .search input:focus {width: 200px; border: 1px solid #656565; /*input 태그에 포커스가 갔을 때 생기는 테두리 제거*/;}
header .sub-menu .search .material-icons {
  position: absolute;
  height: 24px; 
  top: 0; bottom: 0; margin: auto;
  right: 5px; /*이걸로 아이콘이 이동*/
  transition: .4s;
} 
header .sub-menu .serach.focused .material-icons {  
  /*JS에서 focused를 넣다빼면서 일치 선택자로 focused가 들어간다*/
  opacity: 0; /*opacity는 투명도*/
}


header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0; right: 0;
  z-index: 1;
}
header .main-menu .item .item_name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
header .main-menu .item:hover .item_name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item_contents {
  width: 100%;
  position:fixed;
  left:0; 
  display:none;
}
header .main-menu .item:hover .item_contents {display:block;}
header .main-menu .item .item_contents .contents_menu {background-color: #2c2a29;}
header .main-menu .item .item_contents .contents_menu > ul {
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item_contents .contents_menu > ul > li{width: 220px;}
header .main-menu .item .item_contents .contents_menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 16px;
  color: #fff;
}
header .main-menu .item .item_contents .contents_menu > ul > li ul li {
  padding: 5px 0;
  font-size: 14px;
  color: #999;
  cursor: pointer
}
header .main-menu .item .item_contents .contents_menu > ul > li ul li:hover {color: #669900;}
header .main-menu .item .item_contents .contents_texture{padding: 26px 0; font-size: 13px; background-image: url("../images/main_menu_pattern.jpg");}
header .main-menu .item .item_contents .contents_texture h4 {
  color: #999; 
  font-weight: 700;
}
header .main-menu .item .item_contents .contents_texture p {
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px; right: 12px;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.15);
  cursor: pointer;
}

/* SECTION - VISUAL */
.visual {
  margin-top: 110px; /* height만큼 margin을 벌어지게 만든 것*/
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual > .inner {height: 646px;}
.visual .title {
  position: absolute;
  top: 88px; left: -10px;
}
.visual .title .btn {
  position: absolute;
  top: 259px; left: 173px;
}
.visual .cup1.image { /* cup1와 image인 클래스가 있는 것을 찾는다 */
  position: absolute;
  bottom: 0; right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 38px; right: 171px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0; right: 162px;
}
.visual .cup2.text {
  position: absolute;
  bottom: 321px; right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0; left: 275px;
}
.visual .fade-in {opacity: 0;}

/* SECTION - NOTICE */
.notice .notice-line {position: relative;/* inner에 높이를 주어 여기서는 height가 auto 처리 */}
.notice .notice-line .bg-left {
  position: absolute;
  left: 0; top: 0; bottom: 0;
  width: 50%; 
  height: 100%; /*height: 100px;*/ /*height를 주면 고정 높이로 바뀌기 때문에 주지 않는다*/
  background-color:#333; /* 반으로 영역 조절절 */
}
.notice .notice-line .bg-right {
  position: absolute;
  right: 0; top: 0;
  width: 50%; 
  height: 100%; 
  background-color:#f1f1f1;
}
.notice .notice-line .inner {
  height: 70px; /* inner로 최대 높이를 설정하여 위를 채우기에 알아서 늘어난다*/
  border: 1px solid #ff1111;
  display: flex;
}
.notice .notice-line .inner_left {
  width: 60%; height: 100%; /*height를 주면 고정 높이로 바뀌기 때문에 주지 않는다*/
  background-color: #333; /* 영역 분리 */
  display: flex; align-items: center;
}
.notice .notice-line .inner_left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner_left .mySwiper {
  flex-grow: 1; /*flex-grow: 1;는 flex 속성으로 남은 공간을 차지하게 한다*/
  height: 62px;
}
.notice .notice-line .inner_left .swiper-slide {
  height: 62px;
  display: flex; align-items: center;
}
.notice .notice-line .inner_left .swiper-slide a {color: #fff;}
.notice .notice-line .inner_left .notice-line_more {
  width: 62px; height: 62px; 
  display: flex; justify-content: center; align-items: center;
}
.notice .notice-line .inner_left .notice-line_more .material-icons{color: #fff; font-size: 30px;}

.notice .notice-line .inner_right {
  width: 40%; height: 100%; /*height를 주면 고정 높이로 바뀌기 때문에 주지 않는다*/
  display: flex; justify-content: flex-end; align-items: center;
}
.notice .notice-line .inner_right h2 {
  font-size: 17px; font-weight: 700; margin-right: 20px;
} 
.notice .notice-line .inner_right .toggle_promotion {
  width: 62px; height: 62px; 
  cursor: pointer;
  display: flex; justify-content: center; align-items: center;
}
.notice .notice-line .inner_right .toggle_promotion .material-icons {font-size: 30px;}

/* SECTION - PROMOTION */
.notice .promotion  {
  height: 503px; 
  background-color: #f6f5ef; 
  position: relative;
  transition: height .4s; overflow: hidden; 
}
.notice .promotion.hide {height: 0;}
.notice .promotion .mySwiper {
  width: calc(537px * 3 + 20px); /* 연산자 양 옆에 공백이 있어 실행된다 */
  /* 537px == (브라우저의 전체너비 / 3) - 20px(양 옆 간격) */
  height: 362px; 
  position: absolute; top:40px; left: 50%;
  margin-left: calc((537px * 3 + 20px) / -2);
}
.notice .promotion .swiper-slide { 
  opacity: .5;
  transition: opacity 1s;  
  position: relative;
}
.notice .promotion .swiper-slide-active { opacity: 1;}
.notice .promotion .swiper-slide .btn {
  position: absolute;
  height: 40px; 
  bottom: 0; left: 0; right: 0;
  margin: auto; opacity: 0.8;
}
.notice .promotion .swiper-pagination {bottom: 40px; left:0px; right:0px;}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-image: url('../images/promotion_slide_pager.png');
  width: 12px; height: 12px;
  margin-right: 6px; 
  outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {margin-right: 0;}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {background-image: url('../images/promotion_slide_pager_on.png');}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px; height: 42px; 
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  z-index: 1;
  cursor: pointer;
  display: flex; justify-content: center; align-items: center;
  transition: .4s;
}
.notice .promotion .swiper-prev {left: 50%; margin-left: -340px;}
.notice .promotion .swiper-next {right: 50%; margin-right: -330px;}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/* SECTION - REWARD */
.rewards {
  position: relative;
}
.rewards .bg-left {
  width: 50%; height: 100%; /*height를 주면 고정 높이로 바뀌기 때문에 주지 않는다*/
  background-color: #272727;
  position: absolute; top: 0; left: 0;
}
.rewards .bg-right {
  width: 50%; height: 100%; /*height를 주면 고정 높이로 바뀌기 때문에 주지 않는다*/
  background-color: #d5c798;
  position: absolute; top: 0; right: 0;
}
.rewards .inner {
  background-image: url("../images/rewards.jpg");
  height: 241px;
}
.rewards .btn-group{
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 30%; right: 0;
}
.rewards .btn-group .btn.sign-up {margin-right: 10px;}
.rewards .btn-group .btn.sign-in {width: 110px;}
.rewards .btn-group .btn.gift {width: 100%; margin-top: 10px;}

/* YOUTUBE */
.youtube {
  position: relative;
  height: 700px;
  overflow: hidden; /*자식 요소가 부모 요소를 벗어나면 숨겨준다*/
  background-color: #333;
}  
.youtube .youtube_area {
  width: 1920px;
  background-color: orange;
  position: absolute;
  left: 50%; margin-left: calc(1920px / -2); /*브라우저의 전체너비 / 2*/
  top: 50%; margin-top: calc(1920px * 9 / 16 / -2); /*브라우저의 전체너비 * 9 / 16 / 2*/

}
.youtube .youtube_area::before {
  content:"";
  display: block;
  width: 100%; height:0;
  padding-top: 56.25%;
}
.youtube .youtube_cover {
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgba(0,0,0,.3);
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
}
#player {
  width: 100%; height: 100%;
  position:absolute; top: 0; left: 0; /* 부모 요소는 youtube_area*/
}
.youtube .inner { height: 700px;}
.youtube .floating1 {position: absolute; top: 50px; left: 0;}
.youtube .floating2 {position: absolute; top: 350px; left: 150px;}

/* SEASON PRODUCT */
.season-product { background-image: url("../images/season_product_bg.jpg"); }
.season-product .inner {height: 400px;}
.season-product .floating3 {position: absolute; top: -200px; right: 0;}
.season-product .inner .text-group {position: absolute; top: 110px; right: 100px;}
.season-product .inner .text-group .title {margin-bottom: 10px;}
.season-product .inner .text-group .description {margin-bottom: 15px;}

/* RESERVE COFFEE */
.reserve-coffee { background-image: url("../images/reserve_bg.jpg");}
.reserve-coffee .inner {height: 400px;}
.reserve-coffee .inner .reserve-logo {position: absolute; top: 110px; left: 0;}
.reserve-coffee .text-group {
  position: absolute;
  top: 124px; left: 208px;
}
.reserve-coffee .product {
  position: absolute;
  top: 0; right: 0px;
}

/* PICK YOUR FAVORITE */
.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /*배경 이미지가 고정된다 
  => 이걸로 스크롤할 때 고정되어 같이 움직이지 않아 약간의 애니메이션 효과를 줄 수 있음 */
  background-size: cover; /*배경 이미지가 브라우저의 더 넒은 너비에 맞게 늘어난다*/
}
.pick-your-favorite .inner {padding: 110px 0;}
.pick-your-favorite .inner .text-group {
  margin-left: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap; /*flex-wrap: wrap;는 flex 속성으로 남은 공간을 차지하게 한다*/
  justify-content: flex-end;
}
.pick-your-favorite .inner .text-group .title {margin-bottom: 40px;}
.pick-your-favorite .inner .text-group .description {margin-bottom: 40px;}

/* RESERVE STORE */
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  background-size: cover;
}
.reserve-store .inner {height: 600px; display: flex; justify-content: center; align-items: center;}
.reserve-store .medal {
  width: 334px; height: 334px; 
  perspective: 600px; /*perspective는 3D 효과를 주기 위해서 사용한다*/
}
.reserve-store .medal .front,
.reserve-store .medal .back {
  width: inherit; height: inherit; /*부모 요소의 크기를 상속받는다*/
  position: absolute;
  backface-visibility:hidden; /*앞면과 뒷면이 겹치지 않게 한다*/
  transition: 1s; /*회전 애니메이션 효과*/
}
.reserve-store .medal .front {transform: rotateY(0deg);}
.reserve-store .medal:hover .front {transform: rotateY(180deg);}
.reserve-store .medal .back {transform: rotateY(-180deg); /*180도 회전*/}
.reserve-store .medal:hover .back {transform: rotateY(0deg);}

.reserve-store .medal .back .btn {
  position: absolute; 
  top: 220px; left: 0; right: 0;
  margin: auto; /*상단과 하단을 0으로 고정하고서 높이값을 주어야 수직으로 중앙 정렬이 된다*/
  /*width: 130px; /*너비를 줘야 하나 위에 정해줬음음*/
}

/* FIND STORE */
.find-store {background-image: url("../images/find_store_bg.jpg");}
.find-store .inner {height: 400px;}
.find-store .texture1 {position: absolute;  top: 0; left: 400px;}
.find-store .texture2 {position: absolute;  bottom: 0; right: 0;}
.find-store .picture {border-radius: 50%;  box-shadow: 2px 2px 8px rgba(0,0,0,.5);}
.find-store .picture1 {position: absolute;  top: -60px; left: 0;}
.find-store .picture2 {position: absolute;  top: 150px; left: 250px;}
.find-store .text-group {position: absolute;  top: 120px; left: 550px;}
.find-store .text-group .title {margin-bottom: 20px;}
.find-store .text-group .description {margin-bottom: 20px;}

/* AWARDS */
.awards {background-color: #272727;}
.awards .inner {padding: 40px 0;}
.awards .mySwiper {width: 100%; height: 40px;}
.awards .swiper-prev,
.awards .swiper-next {
  width: 42px; height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: .3;
  cursor: pointer;
  display: flex; justify-content: center; align-items: center;
  position: absolute; top: 0; bottom: 0;
  margin: auto;
  z-index: 1;
}
.awards .swiper-prev {left: -100px;}
.awards .swiper-next {right: -100px;}
.awards .swiper-prev:hover,
.awards .swiper-next:hover {background-color: #fff; color: #333;}

/* FOOTER */
footer {background-color: #272727; border-top: 1px solid #333;}
footer .inner {padding: 40px 0 60px 0;}
footer .menu {display: flex;  justify-content: center;}
footer .menu li {position: relative;}
footer .menu li::before {
  content: ""; /*가상요소는 content 속성을 반드시 사용해야 한다*/
  width: 3px; height: 3px;
  background-color: #555;
  position: absolute; top: 0; bottom: 0; margin: auto; 
  /* position:absolute랑 fixed는 자동으로 block으로 요소가 변한다 */
  right: -1px; /*이걸로 아이콘이 이동*/
}
footer .menu li:last-child::before {display: none; /*마지막 요소는 가상요소를 없애준다*/}
footer .menu li a {
  color: #ccc;
  font-size: 14px;
  font-weight: 700;
  padding: 15px;
  display: block; 
}
footer .menu li a:hover, footer .menu li a.green:hover {color: #669900}
footer .menu li a.green {color: gold;}
footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {margin-right: 0;}

footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {margin-right: 0;}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo {
  margin: 30px auto 0; /* left와 right를 auto로 준 상태이다 */
  /* img요소가 display:block과 margin: 0 auto이면 중앙정렬 가능하다 */ 
}

/* TO-TOP */
#to-top {
  width: 42px; height: 42px;
  background-color: #333; color: #fff;
  border: 1px solid #fff;
  border-radius: 10px; 
  cursor: pointer;
  display: flex; justify-content: center; align-items: center;
  position: fixed; /* 브라우저(뷰포트)를 기준으로 배치한다다 */
  bottom: 30px; right: 30px; /* 브라우저(뷰포트)기준으로 밑에서 30px, 우측에서 30px지점에 배치 */
  z-index: 9; 
}