/*Common*/
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4; /*행간*/
  font-family: "Nanum Gothic", sans-serif;
  height: 3000px;;
}
img { display:block; } /*img 태그는 기본적으로 inline으로 되어있기 때문에 block(레이아웃)으로 바꿔준다.*/
a { text-decoration: none; }/*링크에 밑줄을 없애준다*/
.inner { /*inner는 header와 footer에 공통으로 사용되는 클래스*/
  width: 1100px; /*너비*/
  margin: 0 auto; /*좌우의 값만으로 브라우저가 자동으로 계산하게 auto(브라우저가 자동 계산)추가하여 중앙 정렬*/
  /*자동으로 계산하려면 요소의 길이를 브라우저가 알고 있어야 함*/
  position: relative; 
}

/*Header*/
header {
  width: 100%; /*auto로 하면 브라우저가 자동으로 뷰포트를 기준으로 요소가 배치된다*/
  position: fixed; 
  background-color: #f1f1f1; border-bottom: 1px solid #c8c8c8; 
  top: 0;
}
header > .inner {height: 110px;} /*header 바로 아래의 inner를 가리킨다 */
header .logo { /*사진 크기는 본래의 사진 크기가 기본값으로 들어간다*/
  height: 75px; /*기본값이지만 명시*/
  position: absolute; /*absolute는 부모(position:relative => inner)를 기준으로 위치를 잡는다*/
  top: 0; bottom: 0; /*상단과 하단을 0으로 고정*/
  margin: auto; /*상단과 하단을 0으로 고정하고서 높이값을 주어야 수직으로 중앙 정렬이 된다*/
}


header .sub-menu {
  position:absolute;
  top: 10px; right: 0; /*상단과 하단을 0으로 고정*/
  display:flex;
}
header .sub-menu ul.menu {font-family: Arial, sans-serif; display:flex;}
header .sub-menu ul.menu li {position: relative;}
header .sub-menu ul.menu li:nth-child(1)::before {display:none;}
header .sub-menu ul.menu li::before {
  content: ""; /*가상요소는 content 속성을 반드시 사용해야 한다*/
  display: block; /*inline-block으로 바꿔준다*/
  width: 1px; height: 12px; 
  top: 0; bottom: 0; 
  margin: auto;
  background-color: #333; /*세로선의 색상*/
  position: absolute; 
}
header .sub-menu ul.menu li a {
  font-size:12px;
  padding: 11px 16px; /*상하(11px)좌우(16px) 내부 여백으로 공간 생성성*/
  display:block; /*a태그는 기본적으로 inline으로 되어있기 때문에 block(레이아웃)으로 바꿔준다.*/
  color: #656565; /*글자색*/
}
header .sub-menu ul.menu li a:hover {color: #333;}
header .sub-menu .search {height: 35px; position: relative;}
header .sub-menu .search input {
  width: 36px; height:34px;
  padding: 4px 10px; /*상하(4px)좌우(10px) 내부 여백으로 공간 생성성*/
  border: 1px solid #1c1;
  box-sizing: border-box; 
  border-radius: 5px;
  outline: none; /*input 태그에 포커스가 갔을 때 생기는 테두리 제거*/;
  background-color: #fff; color:#777;
  font-size: 12px; 
  transition: width 0.4s ease; /*width가 바뀔 때 애니메이션 효과*/
  /*ease는 애니메이션 효과를 부드럽게 만들어준다.*/
}
header .sub-menu .search input:focus {width: 200px; border: 1px solid #656565; /*input 태그에 포커스가 갔을 때 생기는 테두리 제거*/;}
header .sub-menu .search .material-icons {
  position: absolute;
  height: 24px; 
  top: 0; bottom: 0; margin: auto;
  right: 5px; /*이걸로 아이콘이 이동*/
  transition: .4s;
} 
header .sub-menu .serach.focused .material-icons {  
  /*JS에서 focused를 넣다빼면서 일치 선택자로 focused가 들어간다*/
  opacity: 0; /*opacity는 투명도*/
}


header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0; right: 0;
  z-index: 1;
}
header .main-menu .item .item_name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
header .main-menu .item:hover .item_name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
header .main-menu .item .item_contents {
  width: 100%;
  position:fixed;
  left:0; 
  display:none;
}
header .main-menu .item:hover .item_contents {display:block;}
header .main-menu .item .item_contents .contents_menu {background-color: #2c2a29;}
header .main-menu .item .item_contents .contents_menu > ul {
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item_contents .contents_menu > ul > li{width: 220px;}
header .main-menu .item .item_contents .contents_menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}
header .main-menu .item .item_contents .contents_menu > ul > li ul li {
  padding: 5px 0;
  font-size: 13px;
  color: #999;
  cursor: pointer
}
header .main-menu .item .item_contents .contents_menu > ul > li ul li:hover {color: #669900;}
header .main-menu .item .item_contents .contents_texture{padding: 26px 0; font-size: 12px; background-image: url("../images/main_menu_pattern.jpg");}
header .main-menu .item .item_contents .contents_texture h4 {
  color: #999; 
  font-weight: 700;
}
header .main-menu .item .item_contents .contents_texture p {
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px; right: 12px;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.15);
  cursor: pointer;
}